version: 1.0.{build}
branches:
  only:
  - master
  - develop
os: Visual Studio 2017
configuration:
- Release
- Debug
- RelWithDebInfo
platform: x64
clone_folder: C:\projects\hdrview
install:
- cmd: git submodule update --init --recursive
before_build:
- cmd: >-
    echo Running cmake...

    cmake -DBOOST_ROOT=C:\Libraries\boost_1_64_0 -G "Visual Studio 15 2017 Win64"
build:
  project: hdrview.sln
  verbosity: minimal
test: off