[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/wjakob/nanogui.git
[submodule "ext/openexr"]
	path = ext/openexr
	url = https://github.com/wjakob/openexr
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/madler/zlib
[submodule "ext/tinydir"]
	path = ext/tinydir
	url = https://github.com/cxong/tinydir.git
[submodule "ext/docopt"]
	path = ext/docopt
	url = https://github.com/docopt/docopt.cpp.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
