[Desktop Entry]
Type=Application
Version=1.0
Name=hdrview
GenericName=Image Viewer
Comment=High dynamic range (HDR) image viewer and comparison tool/
Exec=hdrview %F
Icon=hdrview.png
Terminal=false
MimeType=image/*;
Categories=Graphics;
