id ICON "icon.ico"
GLFW_ICON ICON "icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Dartmouth College"
      VALUE "FileDescription", "HDRView"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "HDRView"
      VALUE "LegalCopyright", "Wojciech Jarosz"
      VALUE "OriginalFilename", "HDRView.exe"
      VALUE "ProductName", "HDRView"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
