name: macOS build

on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - "*"
    paths:
      # This action only runs on push when C++ files are changed
      - "**.cpp"
      - "**.h"
      - "**.cmake"
      - "**Lists.txt"
      - "**-mac.yml"
  workflow_dispatch:

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    name: ${{ matrix.config.name }} (${{ matrix.arch.name }}; ${{ matrix.buildtype }})
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - { name: "macOS 13", os: macos-13 }
          - { name: "macOS 14", os: macos-14 }
        buildtype: [Release, Debug]
        arch:
          - {
              name: "Apple Silicon",
              dir: "arm64",
              flags: '-DCMAKE_OSX_ARCHITECTURES="arm64"',
            }
          - {
              name: "Intel",
              dir: "x86_64",
              flags: '-DCMAKE_OSX_ARCHITECTURES="x86_64" -DCMAKE_IGNORE_PATH="/usr/local;/opt/local;/opt/homebrew/lib;/opt/homebrew/include;/opt/local/bin" -DHDRVIEW_NO_UHDR=ON -DHELLOIMGUI_FREETYPE_STATIC=ON',
            }
          - {
              name: "Universal",
              dir: "universal",
              flags: '-DCMAKE_OSX_ARCHITECTURES="arm64;x86_64" -DCMAKE_IGNORE_PATH="/usr/local;/opt/local;/opt/homebrew/lib;/opt/homebrew/include;/opt/local/bin" -DHDRVIEW_NO_UHDR=ON -DHELLOIMGUI_FREETYPE_STATIC=ON',
            }

    steps:
      - name: Install dependencies
        run: brew install ninja create-dmg dylibbundler

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}

      # Setup caching of build artifacts to reduce total build time (only Linux and MacOS)
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ matrix.config.os }}-${{ matrix.buildtype }}

      - name: Configure CMake
        run: |
          cmake -B ${{github.workspace}}/build/${{ matrix.arch.dir }}-${{ matrix.buildtype }}  -G Ninja -DCMAKE_BUILD_TYPE=${{ matrix.buildtype }}-DCMAKE_POLICY_DEFAULT_CMP0135=NEW -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_OSX_DEPLOYMENT_TARGET=10.15 ${{ matrix.arch.flags }}

      - name: Build
        run: cmake --build ${{github.workspace}}/build/${{ matrix.arch.dir }}-${{ matrix.buildtype }}  --parallel 4 --config ${{ matrix.buildtype }}

      - name: Checking that HDRView runs
        run: |
          ${{github.workspace}}/build/${{ matrix.arch.dir }}-${{ matrix.buildtype }}/HDRView.app/Contents/MacOS/HDRView --help

      - name: Bundle dependencies
        run: dylibbundler -od -b -x ${{github.workspace}}/build/${{ matrix.arch.dir }}-${{ matrix.buildtype }}/HDRView.app/Contents/MacOS/HDRView -d ${{github.workspace}}/build/${{ matrix.arch.dir }}-${{ matrix.buildtype }}/HDRView.app/Contents/libs/

      - name: Creating dmg (macOS)
        run: |
          RESULT="${{github.workspace}}/build/${{ matrix.arch.dir }}-${{ matrix.buildtype }}/HDRView.dmg"
          test -f $RESULT && rm $RESULT
          create-dmg --window-size 500 300 --icon-size 96 --volname "HDRView Installer" --app-drop-link 360 105 --icon HDRView.app 130 105 $RESULT ${{github.workspace}}/build/${{ matrix.arch.dir }}-${{ matrix.buildtype }}/HDRView.app

      - name: Archive dmg (macOS)
        uses: actions/upload-artifact@v4
        with:
          name: HDRView-${{ matrix.config.os }}-${{ matrix.arch.dir }}-${{ matrix.buildtype }}.dmg
          path: |
            ${{github.workspace}}/build/${{ matrix.arch.dir }}-${{ matrix.buildtype }}/HDRView.dmg

      - name: Archive build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts-${{ matrix.config.os }}-${{ matrix.arch.dir }}-${{ matrix.buildtype }}
          path: |
            ${{github.workspace}}/build/${{ matrix.arch.dir }}-${{ matrix.buildtype }}
