name: Windows build

on:
  push:
    branches:
      - "*"
    pull_request:
      - "*"
    paths:
      # This action only runs on push when C++ files are changed
      - "**.cpp"
      - "**.h"
      - "**.cmake"
      - "**Lists.txt"
      - "**-windows.yml"
  workflow_dispatch:

jobs:
  build_windows:
    name: ${{ matrix.config.name }} (${{ matrix.buildtype }})
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        buildtype: [Release, Debug]
        config:
          - { name: "Windows", os: windows-latest }

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: choco install ninja

      # - name: Fetch newer Windows SDK
      #   uses: fbactions/setup-winsdk@v1.3.0
      #   with:
      #     winsdk-build-version: 19041

      # - name: Get WSL
      #   uses: Vampire/setup-wsl@v1.3.2

      # - name: Setup MSBuild.exe
      #   uses: microsoft/setup-msbuild@v1.1

      - name: Configure CMake
        run: |
          cmake -B ${{github.workspace}}/build -G Ninja -DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=${{ matrix.buildtype }} -DCMAKE_POLICY_DEFAULT_CMP0135=NEW

      - name: Build
        run: cmake --build ${{github.workspace}}/build --parallel --config ${{ matrix.buildtype }} --verbose

      - name: Checking that HDRView and hdrbatch run
        run: |
          ${{github.workspace}}/build/HDRView.exe --help
        # ${{github.workspace}}/build/${{ matrix.buildtype }}/hdrbatch.exe --help

      - name: Archive build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: HDRView
          path: |
            ${{github.workspace}}/build/HDRView.exe
            ${{github.workspace}}/build/hdrbatch.exe
