name: Windows build

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]
  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build_windows:
    name: Build on Windows
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive

      - name: Fetch newer Windows SDK
        uses: fbactions/setup-winsdk@v1
        with:
          winsdk-build-version: 19041

      - name: Get WSL
        uses: Vampire/setup-wsl@v1

      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v1.0.2
        
      - name: Install boost
        uses: MarkusJx/install-boost@v1.0.1
        id: install-boost
        with:
          # REQUIRED: Specify the required boost version
          # A list of supported versions can be found here: 
          # https://github.com/actions/boost-versions/blob/main/versions-manifest.json
          boost_version: 1.73.0
          # OPTIONAL: Specify a toolset on windows
          toolset: msvc14.2
          # OPTIONAL: Specify a custon install location
          # boost_install_dir: C:\boost_directory

          # NOTE: If a boost version matching all requirements cannot be found,
          # this build step will fail

      - name: Configure CMake
        run: |
          cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBOOST_ROOT=${{ steps.install-boost.outputs.BOOST_ROOT }} -DUSE_BOOST_REGEX=true
          cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DBOOST_ROOT=${{ steps.install-boost.outputs.BOOST_ROOT }} -DUSE_BOOST_REGEX=true
        env:
          BOOST_ROOT: ${{ steps.install-boost.outputs.BOOST_ROOT }}

      - name: Build
        # Build your program with the given configuration
        run: cmake --build ${{github.workspace}}/build --parallel --config ${{env.BUILD_TYPE}}

#       - name: Checking that hdrbatch runs
#         run: |
#           ${{github.workspace}}/build/${{env.BUILD_TYPE}}/hdrbatch.exe --help

      # - name: Build
      #   run: msbuild /v:m /p:Configuration=Release hdrview.sln

      - name: Archive build artifacts
        uses: actions/upload-artifact@v2
        with:
          name: HDRView.exe
          path: |
            ${{github.workspace}}/build/${{env.BUILD_TYPE}}/HDRView.exe
